* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black; */
}

header {
    background-color: orange;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

header .row {
    align-items: center;
}

.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}

nav a {
    text-decoration-line: none;
    color: white;
}

.card-logo {
    text-align: center;
}

.logo-boolean {
    height: 30px;
}

.loghi-link {
    color: white;
    text-align: right;
}

.loghi-link .fa-heart {
    margin: 0 2px;
}

/* corpo principale */

main {
    padding-top: 125px;
}

main .row {
    margin-bottom: 50px;
}

.col-33 {
    width: calc((100% - 30px) / 3);
}

.product:hover .img-vanish {
    display: none;
}

section .fa-heart:hover {
    color: red;
}

.img-product {
    position: relative;
}

.img-product img {
    width: 100%;
}

.img-vanish {
    position: absolute;
}

.product {
    position: relative;
}

.heart .fa-heart {
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 5px;
    right: 0;
}

.label {
    position: absolute;
    bottom: 50px;
}

.label .red-label {
    color: white;
    padding: 3px 10px;
    background-color: red;
}

.label .green-label {
    color: white;
    padding: 3px 10px;
    background-color: green;
}

.font-small {
    font-size: small;
}

.red-price {
    color: red;
}

.line-through {
    text-decoration-line: line-through;
}

/* fondo pagina */
footer {
    background-color: black;
    padding: 20px 0;
    border-bottom: 3px solid white;
}

.font-white {
    color: white;
}

footer h4 {
    margin-bottom: 10px;
}

.img-social {
    margin-right: 20px;
    margin-bottom: 10px;
}

.fa-square-twitter, .fa-square-facebook, .fa-square-instagram, .fa-square-pinterest, .fa-square-youtube {
    font-size: larger;
    margin-right: 5px;
}

